@import "src/variables.css";
.form_container {
  background-color: var(--Cream);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 600px;
  color: var(--NavyBlue);
}
.button {
  background-color: var(--NavyBlue);
  color: var(--White);
  font-size: 1.2rem;
  width: 94%;
}
.form {
  color: var(--NavyBlue);
  background-color: var(--Cream);
}
